@import '../mixins';

.footer-main {
    background: #F4F4F4;
    padding: 88px 0 81px 0;
    .container {
        height: 100%;
    }
    .footer-main-info {
        display: flex;
        justify-content: space-between;
        & > * {
            flex: 1;
        }
    }
    .footer-main-links {
        display: flex;
        flex-direction: column;
        margin-right: 20px;
        label, a {
            font-size: 20px;
            line-height: 130%;
            margin-bottom: 1rem;
        }
        label {
            font-weight: bold;
        }
    }
    .footer-main-icons {
        display: flex;
        justify-content: center;
    }
    .footer-main-copy {
        margin-top: 118px;
        display: flex;
        font-size: 12px;
        line-height: 130%;
        color: #999999;
        justify-content: space-between;
    }

    @media screen and (max-width: 768px) {
        .footer-main-info {
            flex-wrap: wrap;
            padding-bottom: 60px;
        }
        .footer-main-icons {
            min-width: 100%;
            justify-content: flex-start;
            padding: 37px 0;
            border-top: $border-separator;
            border-bottom: $border-separator;
        }
        .footer-main-copy {
            margin-top: 37px;
            flex-wrap: wrap;
        }
        .copy-rights {
            order: 1;
            width: 100%;
            margin-top: 85px;
            text-align: center;
        }
    }

    @media screen and (max-width: 768px) {
        .footer-main-copy {
            margin-top: 29px;
            & > * {
                width: 100%;
                margin-top: 16px;
            }
        }
        .copy-rights {
            text-align: left;
            margin-top: 55px;
        }
        .footer-main-info {
            padding-bottom: 0;
        }
    }
}
